*{
  margin: 0;
  font-family: 'Trykker', serif;
}

/* ***************UTILES**************** */

.line-div{
  border-top: 4px solid rgba(0,0,0,0.3);
  margin: 0 auto;
}
.line-div-dark{
  border-top: 4px solid rgba(255,255,255,0.3);
  margin: 0 auto;
}

/* ===================SECCION HOME================== */

#home{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../images/cover1.jpg') no-repeat center top;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.text-home{
  color: #fff;
  margin-top: 27%;
  text-shadow: -3px -3px 3px #000;
}
.name-home , h1{
  padding-bottom: 15px;
  font-size: 1.7rem;
  font-weight: bold;
}
.name-home , h4{
  padding: 0 auto;
  font-size: 1rem;
  font-weight: bold;
}
#home .social a{
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  text-shadow: -3px -3px 2px #000;
}
#home .social a:hover{
  text-shadow: 2px 2px 1px #fff;
  color: #000;
  background: rgba(255, 255, 255, 0);
  transform: scale(1.5);
  transition: transform 3s ;
}
.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

@media (min-width:576px) {
  .text-home{
    margin-top: 15%;
  }
  .name-home , h1{
    font-size: 2.3rem;
    font-weight: bold;
  }
  .name-home , h4{
    font-size: 1.2rem;
    font-weight: bold;
  }
  #home .social a{
    font-size: 1.3rem;
  }
}
@media (min-width:768px) {
  .name-home , h1{
    font-size: 3rem;
    font-weight: normal ;
  }
  .name-home , h4{
    font-size: 1.5rem;
    font-weight: normal;
  }
  #home .social a{
    font-size: 1.3rem;
  }
}
@media (min-width:992px) {
  .name-home , h1{
    font-size: 4rem;
  }
  .name-home , h4{
    font-size: 1.6rem;
  }
  #home .social a{
    font-size: 1.5rem;
  }
}

/* ===================sección sobre mi==================  */

#about{
  background-color: #f5f5f2;
  padding: 50px 10px;
}
#about .text-title{
  font-size: 1.8rem;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  padding-bottom: 50px;
  padding: 10px;
  text-align: center;
}
.photo img{
  height: 180px;
  width: 180px;
  display: flex;
  margin: 20px auto;
  border: 4px solid rgba(0,0,0,0.3);
}
.info{
  text-align: justify;
}

@media (min-width:576px){
  #about{
    padding: 80px 10px;
  }
  #about .text-title{
    font-size: 1.5rem;
    padding: 0;
  }
  .photo img{
    height: 180px;
    width: 150px;
  }
}
@media (min-width:768px){
  #about .text-title{
    font-size: 2.3rem;
    padding-bottom: 30px;
  }
  .photo img{
    height: 250px;
    width: 200px;
  }
}
@media (min-width:992px){
  #about{
    padding: 100px
  }
  #about .text-title{
    font-size: 2.5rem;
    padding-bottom: 50px;
  }
  .photo img{
    height: 250px;
    width: 250px;
  }
}

/* ===================SECCION  SKILLS================= */

#skills{
  background-color: #303030;
  padding: 50px 10px;
  color: #fff;
}
#skills .text-title{
  font-size: 1.8rem;
  text-shadow: -2px -2px 2px rgba(255,255,255,0.3);
  padding-bottom: 50px;
  padding: 10px;
  text-align: center;
}
#skills .line-div-dark{
  padding-bottom: 15px;
}
.cont{
  width: 100%;
  margin-bottom: 10px;
}
.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 15px;
  color: #000;
  text-shadow: -1px -1px 1px #FFF;
}
.html {width: 0%; height: 20px; background-color: #E5E1DA;}
.css {width: 0%; height: 20px; background-color: #403E3D;}
.bootstrap {width: 0%; height: 20px; background-color: #FFFAF2;}
.git {width: 0%; height: 20px; background-color: #7F7D79;}
.ruby {width: 0%; height: 20px; background-color: #BFBBB6;}
.rails {width: 0%; height: 20px; background-color: #403E3D;}
.js {width: 0%; height: 20px; background-color: #E5E1DA;}
.vue {width: 0%; height: 20px; background-color: #403E3D;}
.react {width: 0%; height: 20px; background-color: #E5E1DA;}
.next {width: 0%; height: 20px; background-color: #403E3D;}

@media (min-width:576px){
  #skills{
    padding: 80px 10px;
  }
  #skills .text-title{
    font-size: 1.5rem;
    padding: 0;
  }
  #skills .line-div-dark{
    padding-bottom: 0;
  }
}
@media (min-width:768px){
  #skills .text-title{
    font-size: 2.3rem;
    padding-bottom: 30px;
  }
}
@media (min-width:992px){
  #skills{
    padding: 100px
  }
  #skills .text-title{
    font-size: 2.5rem;
    padding-bottom: 50px;
    text-align: justify;
  }
}


/* ===============SECCION ESTUDIO=================== */

#study{
  background-color: #f5f5f2;
  padding: 50px 10px;
}
#study .text-title{
  font-size: 1.8rem;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  padding-bottom: 50px;
  padding: 10px;
  text-align: center;
}
#study .title-study{
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  padding-top: 20px;
}
#study .line-div{
  padding-bottom: 15px;
}

@media (min-width:576px){
  #study{
    padding: 80px 10px;
  }
  #study .text-title{
    font-size: 1.5rem;
    padding: 0;
  }
  #study .title-study{
    padding-top: 0;
  }
  #study .line-div{
    padding-bottom: 0;
  }
}
@media (min-width:768px){
  #study .text-title{
    font-size: 2.3rem;
    padding-bottom: 30px;
  }
}
@media (min-width:992px){
  #study{
    padding: 100px
  }
  #study .text-title{
    font-size: 2.5rem;
    padding-bottom: 50px;
    text-align: justify;
  }

}


/* ================SECCION PORTAFOLIO=============== */

#portfolio{
  background-color: #303030;
  padding: 50px 10px;
  color: #fff;
}
#portfolio .text-title{
  font-size: 1.8rem;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  padding-bottom: 50px;
  padding: 10px;
  text-align: center;
}
#portfolio .line-div-dark{
  padding-bottom: 15px;
}
.project{
  position: relative;
}
.project img{
  display: inline-block;
  margin: 12px auto;
  border: 4px solid rgba(255,255,255,0.3);
  border-radius: 3px;
}
.hide_mobile{
  display: none;
}

@media (min-width:576px){
  #portfolio{
    padding: 80px 10px;
  }
  #portfolio .text-title{
    font-size: 1.5rem;
    padding: 0;
  }
  #portfolio .line-div-dark{
    padding-bottom: 0;
  }
  .hide_mobile{
    display: flex;
  }
}
@media (min-width:768px){
  #portfolio .text-title{
    font-size: 2.3rem;
    padding-bottom: 30px;
  }
}
@media (min-width:992px){
  #portfolio{
    padding: 100px
  }
  #portfolio .text-title{
    font-size: 2.5rem;
    padding-bottom: 50px;
    text-align: justify;
  }
}

/* hover projects */
.project-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(48,48,48,0.7);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.project:hover .project-cont {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.project-cont-text {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.project-pag{
  font-size: 13px;
  color: #fff;
  padding: 5px 15px;
  background-color: #303030;
  border: 0.5px solid #fff;
  border-radius: 3px;
  margin-top: 5px;
}
.project-pag:hover{
  text-decoration: none;
  color: #fff;
}
/* =========================BANNER=================== */

#banner{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../images/coverw.jpg') no-repeat center top;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding: 150px 20px;
  text-align: center;
  font-style: italic;
}
#banner h2{
  font-size: 2rem;
}
#banner h3{
  font-size: 1.3rem;
}

@media (min-width:576px){
  #banner{
    padding: 250px 20px
  }
  #banner h2{
    font-size: 2.3rem;
  }
  #banner h3{
    font-size: 1.75rem;
  }
}


/* ==================seccion Contacto==================== */


#contact{
  background: #303030;
  padding: 30px 0 ;
  color: #fff;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
}
#contact .text-title{
  font-size: 1.7rem;
  text-shadow: -2px -2px 2px rgba(0,0,0,0.3);
  padding: 20px 0;
}
#contact .contact-text{
  padding-top: 50px 0;
  font-size: 1rem;
}
#contact .line-div-dark{
  padding-bottom: 15px;
}
#contact .social a{
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  text-shadow: -3px -3px 2px #000;
}
#contact .social a:hover{
  text-shadow: 2px 2px 1px #fff;
  color: #000;
  background: rgba(255, 255, 255, 0);
  transform: scale(1.5);
  transition: transform 3s ;
}
#legal{
  background: #303030;
  border-top: solid 1px #949791 ;
  color: #fff ;
  padding: 5px;
  width: 100%;
}



@media (min-width:576px) {
  #contact{
    padding: 80px 100px 100px 80px ;
  }
  #contact .contact-text{
    padding-top: 50px;
    padding-left: 100px;
    text-align: left;
  }
  #contact .text-title{
    font-size: 2.3rem;
    padding: 10px 0;
  }
  #contact .social a{
    font-size: 1.3rem;
  }
}

/* ==================== Adicionales =================== */

/* boton scrollup */

#js_up{
  display: none;
  position: absolute;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
  cursor: pointer;
}
